{% extends 'layouts/layout.html' %}

{% block content %}

<div class="custom-bar pywebview-drag-region">
    <div class="bar-text" style="float: left;">
        <img width="30" height="30" style="border: 1px solid rgba(255, 255, 255, 0.05); padding: 5px;" src="{{ url_for('static', filename="icons/logo.png") }}">
        <p style="font-size: 20px; margin-left: 5px;">TypePen</p>
    </div>
    <div class="bar-buttons">
        <button type="button" id="min-btn" class="min" onclick="minimizeWindow()"></button>
        <button type="button" id="close-btn" class="close" onclick="exitWindow()"></button>
    </div>
</div>

<div class="main-box">
    <h1 class="title">TypePen</h1>
    <div class="options-box">
        <button type="button" id="new" onclick="newWindow()">New</button>
        <button type="button" id="open-files">Open</button>
        <button type="button" id="">Settings</button>
        <button type="button" id="">Help</button>
    </div>
    
</div>
<p>A Minimalistic Notepad made just for you! </p>
<!-- <div class="welcome-screen-box recent-notes-box">
    <h3>Recent Files</h3>
    <hr>

    <div class="files-box">
        {% for filename, last_modified in file_details.items() %}
        <div class="file-item" id="filebox">
            <div class="fi">
                <strong>{{ filename }}</strong>
                <small>Date modified: {{ last_modified }}</small>
            </div>
            <div class="gi" filename-data="{{ dpath }}\\{{ filename }}">
                <button class="buttons">Delete</button>
                <button id="edit-button"><a href="/edit/{{ filename }}">Edit</a></button>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div> -->
{% endblock %}
