{% extends 'layouts/layout.html' %}

{% block content %}

<div id="main-animate" class="main-container">
    <div id="loader" class="loading-container">
        <div class="loader">Loading...</div>
    </div>

    <div id="main" class="loaded-container">
        <div id="text-editor">
            <div class="top-container">
                <input id="title-input" type="text" placeholder="Enter title">
                <button type="button" id="darkmode">Dark Mode</button>
            </div>

            <div class="editor-container" id="buttons">
                <div id="text-box" class="text-content" contenteditable="true">
                    {% if window_type == "new" %}

                    {% else %}
                    {{ content|safe }}
                    {% endif %}
                </div>
            </div>

        </div>

        <footer>
            <div class="button-box">
                <div class="button-container">
                    <button id="bold1" class="btn" type="button">B</button>
                    <button class="btn" id="ita" type="button">I</button>
                    <button class="btn" id="underline-btn" type="button">U</button>
                    <div class="aria">
                        <button id="save-text">Save</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



{% endblock %}